.list {
  width: 500px;
  box-shadow: 11px 10px 19px 1px rgba(20, 44, 62, 0.2);
  padding: 20px;
  background-color: #f3f6f4;
  margin-top: 50px;
}

.item {
  display: flex;
  border: 1px solid #bcbcbc;
  padding: 5px;
  justify-content: space-around;
  align-items: center;
}
